<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h1 class="text-center">Kurs qo‘shish</h1>
      <form
        class="row g-3 needs-validation  shadow rounded-4 p-3 my-4"
        novalidate=""
        action="/admin/courses/add"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Kurs rasmi</label>
          <input
            name="image"
            type="file"
            class="form-control"
            id="validationCustom01"
            required=""
          />
        </div>
        <div class="col-md-12">
          <label for="validationCustom02" class="form-label">Level - daraja</label>
          <input
            name="level"
            type="text"
            class="form-control"
            id="validationCustom02"
            required=""
          />
        </div>
      <div class="col-md-12">
          <label for="validationCustom03" class="form-label">Kurs nomi</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="validationCustom03"
            required=""
          />
        </div>
        <div class="col-md-12">
          <label for="validationCustom04" class="form-label">Kurs izohi</label>
          <input
            name="description"
            type="text"
            class="form-control"
            id="validationCustom04"
            required=""
          />
        </div>
        <div class="col-md-12">
          <label for="validationCustom05" class="form-label">Kurs narxi</label>
          <input
            name="price"
            type="number"
            class="form-control"
            id="validationCustom05"
            required=""
          />
        </div>
        <div class="col-md-12">
          <label for="validationCustom06" class="form-label">O'quvchi soni</label>
          <input
            name="oquvchi_soni"
            type="number"
            class="form-control"
            id="validationCustom06"
            required=""
          />
        </div>
        <div class="col-md-12">
          <select class="form-select" name="course_category_id" id="">
              <option selected disabled>Kurs kategoriyasi</option>
              {{#each course_category}}
                    <option value="{{id}}">{{name}}</option>
              {{/each}}
          </select>
        </div>
        <div class="col-md-12">
          <select class="form-select" name="muallif_id" id="">
              <option selected disabled>Muallifni tanlang</option>
              {{#each muallif}}
                    <option value="{{id}}">{{name}}</option>
              {{/each}}
          </select>
        </div>
        <input class="btn btn-primary mt-4 mb-2" type="submit" value="Saqlash" />
      </form>
    </div>
  </div>
</div>




<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Kurslar</h5>
              <!-- Table with stripped rows -->
              <table class="table table-striped table-hover table-responsive">
                <thead>
                  <tr>
                    <th>
                      <b>№</b>
                    </th>
                    <th>Kurs rasmi</th>
                    <th>Level - daraja</th>
                    <th>Kurs nomi</th>
                    <th>Kurs izohi</th>
                    <th>Kurs narxi</th>
                    <th>O'quvchi soni</th>
                    <th>Kurs kategoriyasi</th>
                    <th>Muallif</th>
                    <th>Muallif rasmi</th>
                    <th>Tahrirlash</th>
                  </tr>
                </thead>
                <tbody>
                {{#each courses}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td><img src="/{{image}}" alt="" style="width: 100px;"></td>
                        <td>{{level}}</td>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        <td>{{oquvchi_soni}}</td>
                        <td>{{category_name}}</td>
                        <td>{{teacher_name}}</td>
                        <td><img src="/{{rasm}}" alt="" style="width: 50px;"></td>
                        <td>
                          <a class="btn btn-primary" href="/admin/courses/{{course_id}}">Tahrirlash</a>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>
    </div>
</div>