{{!-- About1 Start --}}
{{#if about1.length}}
    {{#each about1}}
            <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{kurs_haqida_sarlavha}}</h5>
              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <b>№</b>
                    </th>
                    <th>Sarlavha</th>
                    <th>Batafsil</th>
                    <th>Tahrirlash</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{kurs_haqida_sarlavha}}
                        </td>
                        <td>{{{kurs_haqida_batafsil}}}</td>
                        <td>
                          {{!-- <a class="btn btn-primary" href="/admin/kurs_haqida/{{course_id}}/edit?about_id={{id}}&course_id={{course_id}}">Tahrirlash</a> --}}
                            <form action="/admin/kurs_haqida/{{course_id}}/edit" method="GET">
                                <input type="hidden" name="about_id" value="{{id}}">
                                <input type="submit" value="Tahrirlash" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>
    </div>
</div>
    {{/each}}
{{else}}
    <div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto rounded shadow p-3">
      <h2 class="text-center">1.Kurs haqida umumiy ma'lumot qo'shish</h2>
      <form action="/admin/kurs_haqida/{{id}}/about" class="table" method="POST">
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Sarlavha</label>
          <input
            name="kurs_haqida_sarlavha"
            type="text"
            class="form-control"
            id="validationCustom01"
            required=""
          />
        </div>
        <div class="col-md-12">
            <label for="summernote" class="form-label">Batafsil</label>
            <textarea class="form-control" id="summernote" required="" name="kurs_haqida_batafsil">

            </textarea>
        </div>
        <input type="submit" value="Saqlash" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>
</div>
{{/if}}
{{!-- About1 END --}}

{{!-- About2 Start --}}
    {{#if about1.length}}
    {{#each about1}}
            <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{kurs_haqida_sarlavha}}</h5>
              <!-- Table with stripped rows -->
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <b>№</b>
                    </th>
                    <th>Sarlavha</th>
                    <th>Batafsil</th>
                    <th>Tahrirlash</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{kurs_haqida_sarlavha}}
                        </td>
                        <td>{{{kurs_haqida_batafsil}}}</td>
                        <td>
                          {{!-- <a class="btn btn-primary" href="/admin/kurs_haqida/{{course_id}}/edit?about_id={{id}}&course_id={{course_id}}">Tahrirlash</a> --}}
                            <form action="/admin/kurs_haqida/{{course_id}}/edit" method="GET">
                                <input type="hidden" name="about_id" value="{{id}}">
                                <input type="submit" value="Tahrirlash" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>
        </div>
    </div>
</div>
    {{/each}}
{{else}}
    <div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto rounded shadow p-3">
      <h2 class="text-center">2.Kursni tamomlagach quyidagi bilimlarga ega bo'lasiz qo'shish</h2>
      <form action="/admin/kurs_haqida/{{id}}/about" class="table" method="POST">
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Sarlavha</label>
          <input
            name="kurs_haqida_sarlavha"
            type="text"
            class="form-control"
            id="validationCustom01"
            required=""
          />
        </div>
        <div class="col-md-12">
            <label for="summernote" class="form-label">Batafsil</label>
            <textarea class="form-control" id="summernote" required="" name="kurs_haqida_batafsil">

            </textarea>
        </div>
        <input type="submit" value="Saqlash" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>
</div>
{{/if}}
{{!-- About2 END --}}
















  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>


<script>
    $(document).ready(function () {
//   document.emojiType = 'unicode'; // default: image
        document.emojiSource = '../tam-emoji/img';
        $("#summernote").summernote({
            height: 200,
            toolbar: [
                ['insert', ['emoji']],
                ['tool', ['undo', 'redo', 'codeview']],
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['link', 'unlink', 'picture', 'video', 'hr']],
                ['table', ['table']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'codeview', 'help']],
            ],
            
            
        });
    });

  
</script>