<!-- Course Section Start -->
        <div class="courses-section section-padding-02">
            <div class="container">

                




<div class="col-lg-10 mx-auto">
  <div class="courses-tab-menu" data-aos="fade-up" data-aos-duration="1000">
    <ul class="nav justify-content-lg-end">
      {{#if course_category.length}}
        {{#each course_category}}
          <li>
            <button class="{{#if @first}}active{{/if}}" data-bs-toggle="tab" data-bs-target="#tab{{id}}">
              {{name}}
            </button>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>

<div class="tab-content">
  {{#each course_category}}
    <div class="tab-pane fade {{#if @first}}show active{{/if}}" id="tab{{id}}">
      <div class="row row-cols-xl-5 g-4">
        {{#each courses}}
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="course-item">
              <div class="course-header">
                <div class="course-header__thumbnail">
                  <a href="course/{{id}}">
                    <img src="{{image}}" alt="Course Image" width="258" height="173">
                  </a>
                </div>
              </div>
              <div class="course-info">
                <span class="course-info__badge-text badge-all">{{oquvchi_soni}} O'quvchilar</span>
                <h3 class="course-info__title">
                  <a href="course/{{id}}">{{title}}</a>
                </h3>
                <a href="course/{{id}}" class="course-info__instructor">{{description}}</a>
                <div class="course-info__price">
                  <span class="sale-price">{{price}} so'm</span>
                </div>
                <div class="course-info__rating">
                  <div class="rating-star">
                    <div class="rating-label" style="width: 80%;"></div>
                  </div>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>









            </div>
        </div>
        <!-- Course Section End -->